@use '../utils' as *;

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


@font-face {
    font-family: "Karrik";
    src: url("/Karrik-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sansita";
    src: url("/Sansita-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.sansita {
    font-family: "Sansita", -apple-system, BlinkMacSystemFont, "Segoe UI",
}

.karrik {
    font-family: "Karrik", -apple-system, BlinkMacSystemFont, "Segoe UI",
}

.info {
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: $dark;
    font-size: fluid(50px, 100px, phone-only, desktop-up); ;
    pointer-events: none;
    padding: 50px fluid(50px, 120px, phone-only, desktop-up); 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    p {
        font-size: 20px;
    }

    .rs {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        padding-bottom: fluid(0px, 16px, phone-only, desktop-up); ;
        gap: 0.2rem;
        a{
            text-decoration: none;
            color: $dark;
            cursor: pointer;
            pointer-events: all;
        }
    }
}