* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


@font-face {
    font-family: "Karrik";
    src: url("/Karrik-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sansita";
    src: url("/Sansita-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.sansita {
    font-family: "Sansita", -apple-system, BlinkMacSystemFont, "Segoe UI",
}

.karrik {
    font-family: "Karrik", -apple-system, BlinkMacSystemFont, "Segoe UI",
}

.info {
    position: fixed;
    right: 100px;
    bottom: 50px;
    color: #fff;
    font-size: 100px;
    pointer-events: none;
    text-align: center;
    p {
        font-size: 20px;
    }
}